/* ----------------FUENTES EMPLEADAS */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
    /* font-family: 'Cinzel', serif; */

@font-face {
    font-family: 'Magic Retro';
    src:    url('fonts/Magic\ Retro.ttf') format('truetype');
        /* font-family: 'Magic Retro', sans-serif; */

    font-family: 'Storm Gust';
    src:    url('./fonts/Storm Gust.woff') format('woff'),
            url('./fonts/Storm Gust.ttf') format('truetype'),
            url('./fonts/Storm Gust.otf') format('opentype');
        /* font-family: 'Storm Gust', sans-serif; */
}

/* ----------------AJUSTES GENERALES DE LAS VENTANAS */
body, html {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Storm Gust', sans-serif;
    cursor: url('./image/cursor.png'), auto;
}

img {
    user-select: none;
}

.container {
    background-color: #000000;
    height: 70%;
    width: 55%;
    border-radius: 25px;
    filter: opacity(85%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

input{
    font-family: 'Cinzel', serif;
}

/* ----------------VISTAS */
#vistaPortada{
    background-image: url('./image/portadafanlib.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;/* -----------------------> Esta es la vista inicial */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titulo {
    color: white;
    border-radius: 10px;
    background-color: #000000;
    padding: 5vh;
}

#vistaPortada div {
    box-shadow: 0 0 50px 20px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    background-color: #000000;
    filter: opacity(80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* VISTA - INICIO */
#vistaInicio {
    background-image: url('./image/biblio70dark.jfif');
    background-size: cover;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.letrero{
    height: 50px;
    position: relative;
    margin-bottom: 10vh;
}

.letrero img{
    position: absolute;
    transform: translate(-50%, -50%);
}

.letrero h3{
    position: absolute;
    top: 15%;
    transform: translate(-50%, -50%);
}

/* VISTA - LISTADO DE LIBROS */
#vistaListarLibros {
    display: none;
}

/* VISTA - LISTADO DE AUTORES */
#vistaListarAutores {
    display: none;
}

/* VISTA - INSERTAR NUEVO AUTOR */
#vistaInsertarAutores {
    background-image: url('./image/aniadirautoresfondo.jfif');
    background-size: cover;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido {
    margin-bottom: 0.5rem;
}

label {
    margin-bottom: 0.05rem; /* Espacio inferior de las etiquetas */
}

textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Incluye el borde y el relleno en el ancho total */
}

/* BOTONES */
button{
    font-family: 'Cinzel', serif;
    margin: 1rem;
    border: none; 
    background: none;
}

a:hover{
    cursor: url('./image/cursor_interactivo.png'), auto;
}

input:hover {
    cursor: url('./image/cursor_escritura.png'), auto;
}

button:hover{
    cursor: url('./image/cursor_interactivo.png'), auto;
}